.profile-info {
    display: flex;
    align-items: center;
    color: #a95454;
  }
  
  .profile-image {
    /* width: 60px; */
    height: 60px;
    border-radius: 50%;
    margin-right: 10px;
  }
  
  .profile-details {
    display: flex;
    flex-direction: column;
  }