.header {
  background-color: #171111;
  border-radius: 10px;
  width: 36%;
  margin-left: auto;
}

.header.sticky {
  position: sticky;
  top: 0%;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  z-index: 10000;
}

.nav-item {
  display: flex;
  margin: px;
  padding: 1%;
  list-style: none;
}

.nav-item a {
  gap: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: #000000;
  margin: 0 10px; /* Adjust spacing between links */
  padding: 10px;
  border-radius: 9px; /* Adjust the border-radius to control the roundness */
  background: linear-gradient(
    to right,
    #fa5252,
    #dd2476
  ); /* Adjust the background color as needed */
  position: sticky;
  width: 70px; /* Adjust the width as needed */
  height: 85px;
}

.text-xl {
  text-align: center;
  color: white;
}
