.profile {
  text-align: center;
  -webkit-text-size-adjust: 100%;
  line-height: 1.65;
  -webkit-font-smoothing: antialiased;
  color: #dedde0;
  background-repeat: no-repeat;
  box-sizing: border-box;
  padding-bottom: 0 !important;
  border-radius: 20px;
  padding: 1.875rem;
  position: relative;
  transition: box-shadow 0.3s ease-in-out;
  background-color: #302c40;
  box-shadow: 0px 40px 50px rgba(32, 29, 42, 0.75) !important;
}

.profile h2 {
  color: #ffffff;
  font-size: 60px;
  display: flex;
  align-items: center;
}

.avtar {
  margin-top: -8rem;
  margin-bottom: 1.5625rem;
  margin-left: auto;
  margin-right: auto;
  transition: all 0.3s ease-in-out;
}

.avtar-block {
  max-height: 11.25rem;
  max-width: 11.25rem;
  height: 11.25rem;
  width: 11.25rem;
  filter: drop-shadow(0px 24px 24px rgba(255, 255, 255, 0.7));
}
