* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Arial", sans-serif;
}

.profile {
  text-align: center;
  border-radius: 15px;
  background-color: #f5f5f5;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
  width: 350px;
  margin: 117px auto;
  position: relative;
  transition: box-shadow 0.3s ease-in-out;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profile.sticky {
  position: sticky;
  top: 4%;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  z-index: 1000;
}

.avatar-block {
  position: relative;
  height: 250px; /* Height for image placement */
  width: 250px; /* Width for image placement */
  margin-top: -120px;
}

.avatar-block img {
  border-radius: 20%; /* Adjust radius for desired image shape */
  width: 200px; /* Adjust width for desired image size */
  height: 200px; /* Adjust height for desired image size */
  object-fit: cover;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.profile-content {
  padding: 29px; /* Padding for spacing */
}

.profile h1 {
  text-transform: uppercase;
  color: #333;
  font-size: 28px;
  font-weight: bolder;
  margin-top: -30px;
}

.jobtitles {
  /* Additional styles for proper positioning and rotation of text */
  perspective: 100px;
  background-color: #000; /* Dark background for job titles */
  padding: 16px; /* Padding for spacing within the box */
  border-radius: 5px; /* Border radius for box */
  color: white; /* White text for job titles */
  position: relative;
}

.jobtitles .text-wrapper {
  position: relative;
}

.jobtitles p {
  font-size: 1rem;
  margin: 0;
  line-height: 0; /* Reduce line-height for overlapping effect */
  font-weight: bold;
  /* Add absolute positioning and set top, left, and transform for overlapping effect */
  position: absolute;
  top: 0;
  left: 0;
}

/* Hover Effect */
.profile:hover {
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.2);
  transform: scale(1.02);
}
