@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@500&display=swap");
body {
  font-family: "Raleway", serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: var(--image-gradient), url(./assets/images/home-bg.jpg);
}

html {
  --section-background-color: linear-gradient(
    to bottom left,
    rgba(17, 16, 16, 0.582),
    rgba(12, 8, 24, 0.904)
    
  );

  --image-gradient: linear-gradient(
    to bottom left,
    rgba(17, 16, 16, 0.678),
    rgba(12, 10, 22, 0.863)
    
  );

  --imp-text-color: #c770f0;
}

.container {
  display: flex;
  max-width: 92%;
  background-color:transparent;
  margin-top: 5%;
}
.col-md-3 {
  display: flex;
  align-content: center;
  flex-direction: column;
  flex-wrap: wrap;
}
.button{
  border-radius: 34px;
  border:  none;
  color: rgb(5, 1, 1);
  font-size: 16px;
  padding: 2%;
  background: linear-gradient(#FFFFFF, #fdc50f);
  box-shadow: 0px 20px 24px 3px
}

